.cm-keyword {
    color: #850921;
}

.cm-def {
    color: #aa6c0b;
}

.cm-variable-2 {
    color: #0d5a72;
};

.cm-operator {
    color: #445358
}

.cm-number {
    color: #a34503;
}

.cm-atom {
    color: #7b007b;
}

.cm-variable {
    color: #000000;
}

.cm-property {
    color: #3a4f4a;
}